.settingsPanelWrapper
    display: flex
    justify-content: center
    margin-top: 50px
    
.inputWrapper
    min-width: 15%
    display: flex
    flex-direction: column    
    justify-content: center
    align-items: center

.sliderWrapper    
    display: flex
    justify-content: center
    margin-top: 100px

.image
    height:450px        
    width:400px

.buttonsSlideShowWrapper
    display: flex
    flex-direction: column
    justify-content: center 
    align-items: center

.ButtonSlideShow
    width: 100px 
    height: 5vh          

.fullScrean
    display: flex
    justify-content: center
    align-items: center    